doctype html
html(class="no-js", lang="en")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='Cache-Control', content='no-cache, no-store, must-revalidate')
    meta(http-equiv='Pragma', content='no-cache')
    meta(http-equiv='Expires', content='0')
    meta(name="p:domain_verify", content="578fa68d1988f66b6eeb98681b6646ae")
    meta(name='fragment', content='!')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    meta(name="title", content=title)
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    meta(name="og_title" property="og:title", content="Project Title")
    meta(name="og_site_name" property="og:site_name" content="Project Title")
    style#css!= css
  body
    #app!= body
    script#source(src=entry, data-initial-state=state)
